*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #0D0D0D;
    color:  #F25E5E;
}
footer{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.2px solid black;
}
.casa{
    width: 5rem;
    height: 5rem;
}
.mais{
    width: 5rem;
    height: 5rem;
}
.capelo{
    width: 5rem;
    height: 5rem;
}
.norte{
    width: 5rem;
    height: 5rem;
}
.body_orientacao{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_orientacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
}
.main_orientacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo_orientacao{
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.icone1_orientacao{
    width: 3rem;
    height: 3rem;
}
.icone2_orientacao{

    width: 12rem;
    height: 10rem;
}
.ligue{
    border: .1rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
    width: 40%;
    height: 100%;
}
.coluna{
    display: flex;
    flex-direction: column;
}
.formato_orientacao{
    justify-content: center;
    align-items: center;
}
.linha_orientacao{
    display: flex;
    flex-direction: row;
}
.botoes_orientacao{
    margin: 1rem;
    justify-content: space-around;
}
.li_orientacao{
    border: .1rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
}
.txt_orientacao{
    margin: 1rem;
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
}
.texto_footer{
    color: #141A8C;
}

.texto_img{
    flex-direction: column;
    display: flex;
    align-items: center;
}