*{
    font-family: 'Montserrat', sans-serif;
}
footer{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.2px solid black;
}
.casa{
    width: 5rem;
    height: 5rem;
}
.mais{
    width: 5rem;
    height: 5rem;
}
.capelo{
    width: 5rem;
    height: 5rem;
}
.norte{
    width: 5rem;
    height: 5rem;
}
body{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
}
.icone1{
    width: 3rem;
    height: 3rem;
}
.icone2{

    width: 12rem;
    height: 10rem;
}
.ligue{
    border: .1rem solid black;
    width: 40%;
    height: 100%;
}
.coluna{
    display: flex;
    flex-direction: column;
}
.formato{
    justify-content: center;
    align-items: center;
}
.linha{
    display: flex;
    flex-direction: row;
}
.botoes{
    margin: 1rem;
    justify-content: space-around;
}
.txt{
    margin: 1rem;
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
}