*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #0D0D0D;
}
header{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;  
    justify-content: center;  
}
body{
    width: 456px;
    height: 615px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    margin-top: 0.5rem;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
}
h1{
    font-size: xx-large;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
h2{
    font-size: 2.0rem;
    display:flex;
    align-self: flex-start;
    margin: 1rem;
    margin-bottom: -.5rem;
    color:  #F25E5E;
}
.maior{
    font-size: larger;
    list-style: none; 
    margin-left: 1rem;
}
.linha{
    float: right;
    font-size: larger;
    margin-top: 1rem;
}
.caixa{
    display: flex;
    border: .1rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
    padding: 0.5rem;
    margin: 1.25rem;
    color:  #F25E5E;
}
.metas{
    display:flex;
    padding: 0.5rem;
}
input{
    width: 100%;
    display: flex;
    text-align: start;
    height: 2.5rem;
    border: .1rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
}
.botoes_metas{
    width: 90%;
    align-self: flex-start;
}
footer{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.2px solid black;
}
.casa{
    width: 5rem;
    height: 5rem;
}
.mais{
    width: 5rem;
    height: 5rem;
}
.capelo{
    width: 5rem;
    height: 5rem;
}
.norte{
    width: 5rem;
    height: 5rem;
}
.texto_footer{
    color: #141A8C;
}

.texto_img{
    flex-direction: column;
    display: flex;
    align-items: center;
}