html{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
    border-bottom: 0.5px solid black;
    display: flex;
    flex-direction: row;    
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.teste{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgcapelo{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 0.3rem;
    top:0.1rem;
}
.titulo{
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgteste{
    width: 18rem;
    margin-top: -2rem;
    margin-bottom: -1rem;
}
.trofeu{
    width: 6rem;
    height: 6rem;
}
.ranking{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.2px solid black;
    border-radius: 15%;
    margin-bottom: 1rem;
    margin-right: 25%;
    margin-left: 25%;
    padding: 0.5rem;
}
.calend{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.2px solid black;
    border-radius: 15%;
    margin-bottom: 1rem;
    margin-right: 25%;
    margin-left: 25%;
    padding: 0.5rem;
}
.calendario{
    width: 5rem;
    height: 5rem;
}
footer{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.2px solid black;
}
.casa{
    width: 5rem;
    height: 5rem;
}
.mais{
    width: 5rem;
    height: 5rem;
}
.capelo{
    width: 5rem;
    height: 5rem;
}
.norte{
    width: 5rem;
    height: 5rem;
}
