*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #0D0D0D;
    color:  #F25E5E;
}

.header_calendario{
    width: 100%;
    height: 4rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.body_calendario{
    width: 456px;
    height: 615px;
    display: flex;
    flex-direction: column;
}
.main_calendario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1_calendario{
    display: flex;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.flex_janela{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fechar{
    color: #141A8C;
    text-align: center;
}
.janela {
    font-size: larger;
    display: none;
    left: 3rem;
    top: 12rem;
    position: fixed;
    background-color: whitesmoke;
    border:.1rem solid #141A8C;
    width: 20rem;
    height: 10rem;
    padding: 1rem;
}
.meses{
    margin: .5rem;
    padding: .2rem;
    width: 65.5%;
    text-align: center;
    border-radius: 1rem;
    border: .1rem solid #F25E5E;
}
.calendario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: .1rem solid ;
    border-radius: 1rem;
    background-color: #F2E9E9;
    font-size: x-large;
}
.d_semana{
    text-align: center;
    color: #141A8C;
    border-bottom: .1rem solid #F25E5E;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.dia{
    text-align: center;
    padding: .4rem;
}
.header_consulta{
    height: 6rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.body_consulta{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_consulta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titulo_consulta{
    padding: 1%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.icone_consulta{
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}
.descricao_consulta{
    width: 15rem;
    height: 20rem;
    margin: 2rem;
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
.titulo{
    display: flex;
    font-size: 2.5rem;
    text-decoration: bold;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
body{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icone{
    width: 5rem;
    height: 5rem;
}
main{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
}
.pizza{
    width: 10rem;
    height: 10rem;
}
.destaques_index{
    border: .05rem solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    /* box-shadow: .1rem .1rem .3rem black; */

}
.T1{
    font-size: 1.8rem;
    color: #F25E5E;
    font-family: 'Montserrat', sans-serif;
}
.linha_index{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.todo{
    border: .05rem solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: #F2E9E9;
    /* box-shadow: .1rem .1rem .3rem black; */
}
.itens_index{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.pizza_matematica{
    width: 5rem;
    height: 5rem;
}
.livro_matematica{
    width: 4rem;
    height: 4rem;
}
.h2_matematica{
    text-decoration: underline;
    font-size: larger;
    color: #F25E5E;
}
.header_matematica{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo_matematica{
    display: flex;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.body_matematica{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_matematica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.linhaprincipal{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.aulas1{
    color:rgb(235, 132, 29);
}
.aulas2{
    color: #F25E5E;;
}
.coluninha{
    height: 139.2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0.2px solid black;
    border-radius: 1rem;
    margin: 0.4rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
}
.interrog{
    width: 5rem;
    height: 5rem;
    margin: -1rem;
}
.sub {
    display: flex;
    justify-content: center;
    font-size: larger;
    text-decoration: underline;
    color: #F25E5E;
}
.pessoa{
    width: 2rem;
    height: 2rem;
}
.profs{
    margin: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    border: .5px solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
}
.linhas{
    width: 100%;
    display: flex;
    align-items: center;
}
.estrelas{
    width: 4rem;
    margin-right: 0.5rem;
}

.header_materias{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo_materias{
    display: flex;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.body_materias{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_materias{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lista_materias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.materia{
    margin:0.1rem;
    text-align: center;
    border: 0.05rem solid black;
    border-radius: .3rem;
    font-size: larger;
    padding: 0.3rem;
    background-color: #F2E9E9;
    color: #F25E5E;
}
.body_orientacao{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_orientacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
}
.main_orientacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo_orientacao{
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.icone1_orientacao{
    width: 3rem;
    height: 3rem;
}
.icone2_orientacao{
    width: 12rem;
    height: 10rem;
}
.ligue{
    border: .1rem solid black;
    border-radius: 1rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
    margin-top: .5rem;
    width: 45%;
}
.formato_orientacao{
    justify-content: center;
    align-items: center;
}
.linha_orientacao{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}
.botoes_orientacao{
    margin: .5rem;
    justify-content: space-around;
}
.li_orientacao{
    border: .1rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
}
.txt_orientacao{
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
}
.header_planejamento{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;  
    justify-content: center;  
}
.body_planejamento{
    width: 456px;
    /* height: 615px; */
}
.main_planejamento{
    display: flex;
    flex-direction: column;
}
.h1_planejamento{
    font-size: xx-large;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.h2_planejmaneto{
    font-size: xx-large;
    display:flex;
    align-self: flex-start;
    margin: 1rem;
    color:  #F25E5E;
}
.maior{
    font-size: larger;
    list-style: none; 
    margin-left: 1rem;
}
.linha_planejamento{
    height: min-content;
    display: flex;
    flex-direction: row;
}
.mais{
    height: min-content;
}
.caixa_planejamento{
    display: flex;
    border: .05rem solid black;
    border-radius: 1rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
    color:  #F25E5E;
}
.metas_planejamento{
    margin-left: 1rem;
    height: min-content;
    width: 90%;
    display:flex;
}
.input_planejamento{
    width: 100%;
    display: flex;
    border: .05rem solid black;
    border-radius: 1rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
}
.botoes_metas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.titulo_planner{
    display: flex;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
    font-size: 1.6rem;
}
.body_planner{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.relogio_planner{
    width: 3rem;
    height: 3rem;
}
.planner{
    border: .1rem solid black;
    width: 22rem ;
    height: 22rem;
}
.main_planner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.metas_planner{
    border: .1rem solid black;
    color: #F25E5E;
    background-color: #F2E9E9;
    padding: .3rem;
    border-radius: 1rem;
}

.main_prof{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.body_prof{
    width: 456px;
    height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.coluna_prof{
    display: flex;
    flex-direction: column;
}
.linha_prof{
    display: flex;
    flex-direction: row;
}
.titulo_prof{
    font-size: xx-large;
    border-bottom: .1rem solid black;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.formato_prof{
    display: flex;
    justify-content: center;
    align-items: center;
}
.estrela_prof{
    width: 5rem;
}
.icone_prof{
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}
.icone2_prof{
    width: 2rem;
    height: 2rem;
}
.botoes_prof{
    width: 70%;
    justify-content: space-between;
}
.sub_prof{
    font-size: larger;
    text-decoration: underline black;
    padding-bottom: .3rem;
    color:  #F25E5E;
}
.avaliacoes_prof{
    border: .1rem solid black;
    border-radius: .5rem;
    background-color: #F2E9E9;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 70%;
}
.borda_prof{
    border: .1rem solid black;
    border-radius: .5rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
}
.curriculo_prof{
    width: 70%;
}
.cor_prof{
    color: #F25E5E;
}

.header_profissao{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;  
    justify-content: center;  
}
.body_profissao{
    width: 456px;
    height: 615px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_profissao{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.teste_profissao{
    border: .05rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgcapelo{
    padding-right: .5rem;
    width: 4rem;
    height: 4rem;
}
.titulo_profissao{
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.imgteste{
    width: 18rem;
    margin-top: -2rem;
    margin-bottom: -1rem;
}
.trofeu{
    width: 6rem;
    height: 6rem;
}
.ranking_profissao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.05rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
    width: 60%;
    height: 20%;
}
.calend_profissao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.05rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
    width: 60%;
    height: 20%;
}
.calendario_profissao{
    width: 5rem;
    height: 5rem;
}
html{
    width: 100%;
    height: 100%;
}
.body_rank{
    width: 456px;
    height: 615px;
}
.trofeu_rank{
    width: 5rem;
    height: 5rem;
    left: -0.5rem;
    top:0.3rem;
}
.header_rank{
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_rank{
    width: 100%;
    height: 60%;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    ;
}
.titulo_rank{
    width: 100%;
    font-size: 1.80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.escolha{
    border-bottom: solid .1rem #141A8C;
    border-radius: .4rem;
    padding: .1rem;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color:  #F25E5E;
}
.faculdades{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: center;
}
.calendario_rank{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.3rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin: 0.3rem;
    background-color: #F2E9E9;
    padding: 0.5rem;
    justify-content: flex-end;
    color:  #F25E5E;
}

.h1_teste{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Tinos', serif;
    color:#141A8C;
}
.h2_teste{
    width: 100%;
    padding-bottom: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: underline;
}
.body_teste{
    width: 456px;
    height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_teste{
    padding-top: 3.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
}
.escolher_teste{
    /* margin: .7rem; */
    font-size: 1.5rem;
    color:  #F25E5E;
}
input{
    font-size: 1rem;
}
.button_teste{
    font-size: 1.7rem;
    margin: .8rem;
    padding: .5rem;
    width: 7rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
}
footer{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.2px solid black;
}
.casa{
    width: 5rem;
    height: 5rem;
}
.mais{
    padding-top: .4rem;
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
}
.capelo{
    width: 5rem;
    height: 5rem;
}
.norte{
    width: 5rem;
    height: 5rem;
}
.texto_footer{
    color: #141A8C;
}

.texto_img{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.livro{
    width: 3rem;
    height: 3rem;
}

.header_professor{
    justify-content: center;
    height: 6rem;
}
.tabelinha{
    color: #0D0D0D;
}
option{
    color:#0D0D0D;
}